%tr
  %td
    - if permission.subject.nil?
      =  _("Logged-in users")
      %br
      = _("Public for logged-in users")
    - else
      = permission.subject

  - [:view, :edit, :hi_res].each do |key|
    %td
      - if permission.subject.nil?
        %input{:type => "checkbox", :checked => (permission.actions[key] == :logged_in_users), :path => polymorphic_path([@resource, permission], :key => key, :value => :logged_in_users)}
        %br
      %input{:type => "checkbox", :checked => (permission.actions[key] == true), :path => polymorphic_path([@resource, permission], :key => key)}
  %td
    = link_to _("Delete"), url_for([@resource, permission]), :remote => true, :method => :delete,
      :confirm => _("Are you sure?") if permission.subject and permission.subject != current_user
