<p>
	<%  if current_user.favorites.include?(media_entry)
			method = :delete
			string = _("Delete favorite")
		else
			method = :post
			string = _("Save favorite")
		end %>
		
	<%= _("This media entry as") %>
	<%= link_to string, favorites_media_entry_path(media_entry), :class => "button", :remote => true, :method => method %>
	
	<br/>
	<br/>
	<%= link_to _("My favorites (%d)") % current_user.favorites.count, favorites_media_entries_path %>
</p>
