= will_paginate @media_entries, :previous_label => _("Previous"), :next_label => _("Next")
.clear
= render :partial => "/media_entries/media_entry_thumb", :collection => @media_entries, :as => :media_entry